<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_0K85_8b0r8STnRTRcmyiQzXeTz31pgg</string>
	<key>GCM_SENDER_ID</key>
	<string>133485594821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.localFinder</string>
	<key>PROJECT_ID</key>
	<string>local-finder-c25fd</string>
	<key>STORAGE_BUCKET</key>
	<string>local-finder-c25fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133485594821:ios:a59bcbb0ca4b42166a48ac</string>
</dict>
</plist>